[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
# Main
duplicity = "*"
# General requirements based on Alpine duplicity package and such.
# See https://git.launchpad.net/duplicity/tree/requirements.txt
fasteners = "*"
future = "*"
mock = "*"
python-gettext = "*"
requests = "*"
setuptools = "*"
setuptools_scm = "*"
urllib3 = "*"
# Required for various backends.
azure-mgmt-storage = "*"
b2sdk = "*"
boto = "*"
boto3 = "*"
dropbox = "*"
gdata = "*"
jottalib = "*"
#mediafire = "*"
pydrive = "*"
#pyrax = "*"
python-swiftclient = "*"
requests_oauthlib = "*"
httplib2 = "==0.15.0"

[requires]
python_version = "3"
